nav {background-color:#005b80; font-size: 1.25em; margin-bottom: 10px; padding: 0.5em;em; text-align: left;

}
nav a:link {color:white; text-decoration:none;}
nav a:visited {color:#8dc6dc}
nav a:hover {background-color:#4b98af;}   

nav {margin-bottom: 30px; padding:10px;}

body{
    background-color:#004769; font-family:'Times New Roman', Times, serif; color:white;
}

div h2 {font-size: 1.5em;}
.textover {
    
    padding: 50px 150px 50px 25px;
    color: white;
    font-size: 1.25em;

}
ol li {
    margin-bottom: 1em;
  }

    
    
