body, p {color:#59201e ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f6dab6;
    font-size: 1.1em;}
    a:link {color: #582826}
h1, h2 {color:#582826; font-size: 2em;}
 h3 {color:#582826; font-size: 1em;}
nav {background-color:#be9b7b; font-size: 1.25em;}
nav a:link {color:#582826;}
nav a:visited {color:#582826}
nav a:hover {background-color:#cca784;}   
nav {padding: 10px;}
nav {margin-bottom: 30px}


.evenrow {background-color: #be9b7b;}
a:visited {color: #591e35;}
p a:hover {color:#b24871;}


@media only screen and (max-width: 800px) {
    nav a {width: 100%; display:block; margin: 10px;}
    span {display:none;}
    }
